body {
    font-family: tahoma;
}
header  {
    padding: 5px 0;
    background: rgb(31, 173, 173);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
main    {
    margin-top: 50px;
}
.caixa {
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 30px;
    color: whitesmoke;
}
.logo   {
    width: 18%;
}
nav a {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  
}
.cabecalho-link {
    margin: 20px;
}

.lista {
    display: flex;

}
body{
    padding-top: 40;
}
.ContainerImagem {
    width: 80%;
    padding-left: 10%;
}
.imagem {
    width:230px;
    height: 230px;
    border-radius: 20px;
}
li a {
    display: flex;
    flex-direction: column;
}

.Caixaimagens   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer     {
    background: rgb(31, 173, 173);
    padding: 21px;
    text-align: center;
} 
@media (max-width: 700px) {
    h1 {
        display: none;
    }
    .lista li {
       border-style: solid;
       border-color: black ;
    }
}