
.cor1 {
    background: red;
    padding: 15px;
    
}
.cor2   {
    background: blue;
    padding: 15px;
}
.cor3   {
    background: blueviolet;
    padding: 15px;
}
.cor4   {
    background: yellow;
    padding: 15px;
}
.box1   {
    display:flex;
    flex-wrap: wrap;
}
.box2   {
    display: flex;
}